<!DOCTYPE html>
<html>
    <header>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript">
       $(document).ready(function(){

           $("#prd").keyup(function(){
               

             prdct = $('#prd').val();

               $.ajax({

                   url:'http://127.0.0.1:8000/Restapi/show/',
                   type:"GET",
                   data:{"letter":prdct},

                   success:function(response){
                       alert(response)
                   },

                   error:function(err){
                       alert(err)
                   }
               });

            

           });


       });


        </script>
    </header>
    <body>
        <form> 
            <div class="sesarch">
            <input type="text" value="" name="" id="prd">
            <!-- <input type="button" id="btn" value="search"> -->
        </div>
        </form>
    </body>
</html>