{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'style/project1style.css' %}"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 


    <script type="text/javascript">
    	$(document).ready(function () {
    		// body...
    		$('#btn').click(function(){
                user = $('#us').val();
                pswd = $('#pd').val();
    			
    			$.ajax({

    				url:'http://127.0.0.1:8000/myapp/', 
                    type:'POST',
              		data:{"username":user,"password":pswd},
            		 success:function(response){
            			 console.log(response);
            			 code =response['ResponseCode']
            			 if (code == 200) {
            			 	window.location.href='successfullylogin.html'
                         }
                         else if (code == 404)
                         {
                            window.location.href='fb1.html'
                         }
                         else if (code == 500){
                             window.location.href='psss.html?username=shajin@gmail'
                             
                         }
                     
                         
                    },
                
                error : function(error){
                console.log(error );	
                }
            });

	       });
        });
    
    </script>
</head>
<body>
   {% load staticfiles %}
	<header> <!------facebook header container----->
        <div class="head_container"> 
         <div id="logo12">
            <img src="{% static 'image/faceb.png'%}" width="150px"> </div> <!----  facebook logo  ----->
              <div class="login1">
                <form action="/myapp/loginn/" method="POST">
                {% csrf_token %}
                <div class="form">
                <table class="table">
                    <tr>
                        <td class="email">Email or Phone</td>
                        <td class="password">  Password </td>
                        </tr><tr>
                        <td> <input required type="email" name="username" class="form-control" id="us"></td>
                        <td><input required type="password" name="password" id="pd"></td> 
                        <td> <input type="submit" name="submit" id="btn" value="Login"></td>
                        
                    </tr>
                    <tr>
                         <!-- <td><a href=" forgot password">sssss</a></td> -->
                    </tr>
                </table>
            </div>
            </form>
             </div>   <!-- username ,password ,login button -->
            </div>   <!-- header container block -->
    </header>
    
   
    <div class="container">
               <div class="leftbdy">  <!------Leftbody ------->
                    <p><b>Facebook helps you connect and share with the people in your life.</b></p>
                    <img src="{%static 'image/OBaVg52wtTZ.png'%}">
               </div>    
            <div class="right"><!--Rightbody sign up form -->
                <div>
                    <h1>Create an account</h1> 
                    <h3>It's quick and easy.</h3>
                    <form action="/myapp/register/" method="POST">
                    {% csrf_token %}
                        <input required type="text" name="textt1" placeholder="First Name">
                        <input required type="text" name="textt2" placeholder="Surname" ><br>
                        <input required type="text" name="username" placeholder="Mobile number or email address" ><br>
                        <input required type="password" name="password" placeholder="password"><br>
                        <input required type="password" name="pswd2" placeholder="Re-enter password"> <br>
                        <label>Birthday</label><br>
                        <input required type="date" name="dob" ><span id="te">why do i need to provide my date of birth?</span><br>
                        <input required type="radio" name="radio" value="female"><label> Female</label>
                        <input required type="radio" name="radio" value="male"><label>Male</label><br>
                        <span class="by">By clicking Create an acccount,you agree to our <a href="#"> Terms </a> and confirm that you have read our <a href="#"> Data Policy</a>,including our<a href="#"> Cookie Use Policy</a>.You may receive SMS message notifications from Facebook and can opt out at any time</span>
                        <br>
                        <br>
                        <input type="submit" name="submit" value="Create an account" id="accntbtn"> <!-- facebook green button create an account-->
                        <br>
                        <br>
                        <span>Create a Page for a celebrity ,band or business</span>
                    </form>
                 </div>
             </div>

    
        <footer>
               <img src="{% static 'image/foot.png'%}" alt="">
        </footer>
</body>
</html>