<!DOCTYPE html>
<html>
    <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <!-- navigation -->
       <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
           <div class="container-fluid">
               <a class="navbar-brand" href="#"><img src=""></a>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
               <span class="navbar-toggler-icon"></span>
             </button>  
             <div class="collapse navbar-collapse"></div>  


           </div>

       </nav>

        <!-- imageslider -->

        <!-- jumbotron -->

        <!-- welcom section -->


    </body>
</html>